* {
    font-family: 微軟正黑體;
}

.btn {
    width: 300px;
    border: 3px solid #eeeeee;

    &~.btn {
        border-left: 0px;
    }
}

.input-group {
    height: 60px;

    .form-control {
        height: 100%;
    }
}

.input-group .input-group-text {
    background-color: #b03aff;
    color: white;
}

.input-group .btn-guess {
    width: 80px;
    background-color: #38c0ff;
    color: white;
}

h2 {
    font-size: 38px;
    text-align: center;
    font-weight: bold;
    //text-decoration: underline;
    text-decoration: none;
    border-bottom: 1px rgb(89, 0, 255) dashed;
    padding-bottom: 5px;
    color: rgb(255, 136, 0);

}